*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(66, 236, 66);
    border-radius: 10px;
    margin: top 20px;
}  
h2{
    color: rgb(32, 29, 29);
    font-size: 50px;

}
.titulo-body{
    color:rgba(172, 255, 47, 0.87);
}
#titulo-section{
    color: rgb(131, 62, 196);
}

    

nav{
    column-span: all;
} 